div.alert {
  margin-bottom: 0;
}

@media (min-width: 992px) {
    .login-form {
        width: 500px;
        margin-left: -485px;
    }
}
@media (min-width: 1200px) {
    .login-form {
        width: 500px;
        margin-left: -585px;
    }
}

.carousel-inner .carousel-caption {
  bottom: inherit;
  align-self: center;
}

.item {
    overflow: hidden;
    height: 100%;
    background-color: transparent;
    background-size: cover;
}
.carousel-control {
    width: 30px;
    font-size: 40px;
    color: #fff;
    text-shadow: none;
    filter: none;
    opacity: 1;
}
.carousel-control span {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    width: 100%;
    text-align: center;
    display: block;
}



.login-wrapper {
    text-align: center;
    position: relative
}

.login-form {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  display: inline-block;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
